body {
    background-color: #000000;
    color: white;
    min-height: 100vh;
}

main img {
    max-height: 50vh;
    max-width: 50%;
}

main p {
    font-size: 3vh;
    margin: 0px;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.spacer {
    flex-grow: 1000;
}
