body {
    background-color: black;
    color: white;
}

main #cours h2 {
    font-size: 5vh;;
    color: white;
    margin: 5vh 0px;
    text-align: center;
}

main #carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5vh 0px;
    overflow: hidden;
}

#carrousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden; /* Cache les éléments qui dépassent */
    position: relative;
}

#carrousel-items {
    display: flex;
    width: 100%; /* Prend toute la largeur disponible */
}

#precedent, #suivant {
    cursor: pointer;
    padding: 10px;
    background-color: #ccc;
    border: none;
}
