body {
    background-color: black;
    color: white;
}

main #cours h2 {
    font-size: 5vh;;
    color: white;
    margin: 5vh 0px;
    text-align: center;
}

main #carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5vh 0px;
    position: relative;
}

main #precedent, main #suivant {
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border: none;
}