body {
  background-color: black;
  color: white;
  text-align: center;
}

.register-main-block {
  margin: auto;
  width: 50%;
  background-color: #1c3f59;
  border-radius: 30px;
}

.register-main-block>h1 {
  background-color: white;
  color: black;
  padding: 0.5em;
  border-radius: 30px;
}

.register-form {
  display: flex;
  flex-wrap: wrap;
}

label {
  flex-basis: 50%;
  flex-grow: 0;
  margin: auto;
}

input {
  flex-basis: 100%;
  flex-grow: 1;
  margin: 0.7em;
  background-color: black;
  color : white;
  padding: 0.8em;
  border-radius: 30px;
  border-color: black;
}

.name-block {
  display: flex;
  flex-wrap: nowrap;
}

.name-block, .register-form {
  width: 50%;
  margin: auto;
}

form {
  margin: auto;
}