.categorie a {
    text-decoration: none;
}

.cat_button {
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #F0F0F0;
    font-weight: bold;
    height: 15px;
}

.cat_link {
    color: #FFFFFF;
}

.cat_link:hover {
    color: #BBBBBB;
}

.categorie {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.title-cat {
    color: #C61111;
}

.maindiv-cat {
    display: flex;
    flex-wrap: nowrap;
    width: 60%;
    margin: auto;
    padding: 10px;
}

.divblock-cat {
    flex-basis: 50%;
    flex-grow: 1;
}

.divblock-cat ul {
    text-align: left;
    width: 30%;
    margin-left: auto;
    /* margin-right: auto; */
}

.divblock-cat+.divblock-cat {
    border-left: white medium dotted;
}