.cat_button {
    display: inline-block;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0.3em;
    cursor: pointer;
    background-color: #F0F0F0;
    font-weight: bold;
    text-decoration: none;
}

.cat_button:hover {
    background-color: #D0D0D0;
}

.cat_link {
    color: #FFFFFF;
    text-decoration: underline;
}

.cat_link:hover {
    color: #BBBBBB;
}

.categorie {
    margin: 1em;
    padding: 1px;
    text-align: center;
}

.general-div-cat {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    height: fit-content;
}

.second-div-cat {
    flex-basis: 49.9%;
    flex-grow: 0;
}

.second-div-cat ul {
    text-align: left;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.6em;
    margin-bottom: 1.2em;
}

.second-div-cat ul li {
    margin-bottom: 0.3em;
}

.second-div-cat+.second-div-cat {
    border-left: white thin solid;
}

.main-div-cat {
    flex-basis: 100%;
    flex-grow: 1;
    margin-bottom: 2em;
}

.title-cat {
    color: #C61111;
    font-size: 3em;
}

.second-div-cat>.title-cat {
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}
.cat_button {
    margin: 10px;
}

.general-div-cat {
    padding: 20px;
}

.cat-info-pages {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.cat-info-pages div {
    flex-grow: 1;
}

.cat-info-pages img {
    width: 400px; /* Limiter la largeur maximale */
    height: 200px; /* Limiter la hauteur maximale */
    object-fit: cover; /* Maintenir le ratio d'aspect et couper l'image si nécessaire */
    border-radius: 8px;
}

.cat-info-pages a {
    text-decoration: none;
    color: white;
    text-align: left;
}

.cat-info-sous-categories a {
    color: white;
}
