#compte_etudiant {
    padding: 0vh 1vw;
}

#compte_etudiant h1 {
    font-size: 3vh;
}

#compte_etudiant p, #compte_etudiant button {
    font-size: 2vh;
}

#compte_etudiant span {
    font-weight: bold;
}
