.form-create-cat {
    width: 50%;
    margin: auto;
}

.title-create-cat {
    text-align: center;
}

.title-create-cat,
.label-create-cat {
    color: #C61111;
}

.create-cat-div {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.label-create-cat {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.create-cat-div input[type="file"] {
    width: 100%;
    background-color: #F0F0F0;
    color: #C61111;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-top: 5px;
    cursor: pointer;
}

#ta-create-cat {
    height: 131px;
}

.create-cat-div input[type="text"],
#ta-create-cat {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.create-cat-div input[type="checkbox"] {
    accent-color: #C61111;
    transform: scale(1.5);
    margin-left: 10px;
}

.ButtonCreate {
    width: auto;
    height: 40px;
    background-color: #F0F0F0;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    margin: 20px auto;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.ButtonCreate:hover {
    background-color: #D0D0D0;
}

.create-cat-div ul {
    list-style: none;
    padding: 0;
}

#img-container {
    position: relative;
    height: 25vh;
    overflow: hidden;
    border: 2px dashed black;
    background-color: lightgray;

    /* Gestion du texte */
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 4vh;
    font-weight: bold;
}

#img-container>img {
    position: absolute;
    cursor: move;
    user-select: none;
}

#cont-carrousel {
    display: flex;
    justify-content: center;
    margin: 1vh 0;
}

#prev_img_carrousel_titre {
    display: flex;
    justify-content: center;
}

#square-container {
    position: relative;
    height: 250px;
    width: 250px;
    overflow: hidden;
    border: 2px dashed black;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    /* Gestion du texte */
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: bold;
}

#circle-container {
    position: absolute;
    height: 200px;
    width: 200px;
    border: 2px dashed black;
    background-color: transparent;
    z-index: 3;
    pointer-events: none;
    border-radius: 50%;
}

#circle-container>img {
    position: absolute;
    cursor: move;
    user-select: none;
    z-index: 2;
}

.create_cat_button {
    display: block;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #F0F0F0;
    font-weight: bold;
    text-decoration: none;
    margin: auto;
}

.create_cat_button:hover {
    background-color: #D0D0D0;
}

.react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
