.DivCreateMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color : white;
    padding: 20px;
    min-height: 100vh;
    
  
}

.DivCreate {
   
    
    justify-content: center;
    margin: 20px;
    padding: 0;
    flex-direction: column;
  
}

.DivCreate img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.DivCreate input {
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    width: 20vw;
}

.ButtonCreate {
    width: auto;
    height: 30px;
    background-color: #F0F0F0;
    color: black;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    padding: 0px 10px;
  
}

.ButtonCreate:hover {
    background-color: #D0D0D0;
    cursor: pointer;
}

.titre-create {

    text-align: center;
}

.label-create {
    color: #C61111;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    padding-right: 3%;
}

