header {
    background-color: #1c3f59;
}

nav{
    padding: 5px 20px;
}

nav, nav>ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#pages {
    width: 80%;
    flex-grow: 1;
}

nav>ul>li {
    flex-grow: 1;
}

#pages>li>a {
    display: block;
}

nav li a {
    color: white;
    text-decoration: none;
    text-align: center;
}

nav li {
    list-style: none;
    position: relative;
}

.logo {
    margin: 0 auto;
    width: 50px;
    height: 50px;
}


/* menu déroulant */

.sous {
    display: none;
    background-color: #1c3f59;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav>ul>li:hover .sous {
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}

.sous a {
    padding: 10px;
    display: block;
}

.sous a:hover {
    background-color: rgba(200, 200, 200, 0.1)
}

.deroulant>a::before {
    content: "▶ ";
    font-size: 12px;
    vertical-align: text-top;
}

.deroulant:hover>a::before {
    content: "▼ ";
    font-size: 12px;
}

/* https://www.pierre-giraud.com/html-css-apprendre-coder-cours/creation-menu-deroulant/ pour faire des menus déroulant */